body {
    font-size: 12px;
    font-family: Arial, sans-serif;
    line-height: 14px;
    letter-spacing: 0.4px;
}

.plate-bg {
    background-image: url('img/comp_plate_graybasic.png');
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -156px;
    margin-top: -165px;
    width: 323px;
    height: 337px;
}

.item-box {
    height: 260px;
    overflow: hidden;
}

.item-box .item-img {
    background-image: url('img/comp_plate_promo1.png');
    background-repeat: no-repeat;
    width: 312px;
    height: 200px;
    margin: 0 0 0 4px;
    opacity: 1;
}

.item-box .item-header h2 {
    color: #F56503;
    margin: 15px 10px 5px;
}

.item-box .item-body {
    height: 30px;
    margin: 0 10px;
}

.item-box .description {
    font-size: 11px;
    margin: 0;
}

.item-box .note {
    color: #9B9B9B;
    font-size: 9px;
    line-height: 10px;
}

.details a{
    position: absolute;
    top: 265px;
    margin-left: 10px;
    color: #F56503;
    font-size: 11px;
}

.details a:hover {
    color: #603913;
}

.hide-details {
    display: none;
}

.buttons {
    position: absolute;
    top: 295px;
    margin-left: 10px;
    height: 26px;
}

.buttons .btn {
    background-repeat: no-repeat;
    height: 26px;
    width: 68px;
    display: inline-block;
    vertical-align:top;
    cursor: pointer;
    color: #AAA;
    zoom: 1;
    *display: inline; /* IE 7*/
}

.buttons .btn-arrow {
    background-repeat: no-repeat;
    display: inline-block;
    width: 12px;
    height: 10px;
    margin: 8px 5px;
    zoom: 1;
    *display: inline; /* IE 7*/
}

.buttons .btn:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

.buttons .btn-label {
    font-weight: 700;
    display: inline-block;
    vertical-align: top;
    padding: 6px 5px;
    zoom: 1; /* IE 7*/
    *display: inline; /* IE 7*/
}

.buttons .btn-left {
    background-image: url('img/button_bg_white_left.png');
}

.buttons .btn-left:hover {
    background-image: url('img/button_bg_orange_left.png');
}

.buttons .btn-prev-arrow {
    background-image: url('img/btn_ic_gray_left.png');
}

.buttons .btn-left:hover .btn-prev-arrow {
    background-image: url('img/btn_ic_brn_left.png');
}

.buttons .btn-right {
    background-image: url('img/button_bg_white_right.png');
    text-align: right;
    margin-left: 3px;
}

.buttons .btn-right:hover {
    background-image: url('img/button_bg_orange_right.png');
}

.buttons .btn-next-arrow {
    background-image: url('img/btn_ic_gray_right.png');
}

.buttons .btn-right:hover .btn-next-arrow {
    background-image: url('img/btn_ic_brn_right.png');
}

.buttons .btn-cta {
    background-image: url('img/cta.png');
    width: 120px;
    display: inline-block;
    text-align: right;
    color: #F56503;
    margin-left: 35px;
    zoom: 1; /* IE 7*/
    *display: inline; /* IE 7*/
}

.buttons .btn-cta:hover {
    background-image: url('img/cta-orange.png');
}

.buttons .btn-cta-arrow {
    background-image: url('img/arrowSide.png');
}
